.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cellColumn {
  display: flex;
  flex-direction: column;
}

.cellRow {
  display: flex;
  flex-direction: row;
}

.cellContainer {
  display: flex;
  flex-direction: column;
}

.cell-dead {
  border: solid 2px white;
  height: 5vw;
  width: 5vw;
  background-color: red;
}

.cell-alive {
  height: 5vw;
  width: 5vw;
  background-color: green;
  border: solid 2px white;

}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
